*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #274aa2;
}
main,html,body{
    background-color: #f5f5f5;
}
header .navbar-brand #main-logo{
    width: 50px;
    height: auto;
}
img{
    object-fit: cover;
    object-position: center;
}
header nav .nav-item #img-user{
    width: 40px;
    height: 40px;
}

section #btn-color{
    color: #fff;
    background-color: #01276d;
}
#img-table{
    width: 50px;
    height: 50px;
}

@media (min-width: 800px) {
    header .navbar-brand #main-logo{
        width: 145px;
        height: 45px;
    }
    html{
        font-size: 62.5%;
    }
    header a{
        font-size: 2rem;
    }
    footer{
        font-size: 2rem;
    }
}