header{
    background-color: #274aa2;
}
header .navbar-brand #main-logo{
    width: 50px;
    height: auto;
}
header nav .nav-item #img-user{
    width: 40px;
    height: 40px;
}
main,html,body{
    background-color: #f5f5f5;
}
#footer{
    background-color: #000;
    color: #fff;
}
#footer a{
    text-decoration: none;
    color: #fff;
}


@media (min-width: 800px) {
    header .navbar-brand #main-logo{
        width: 145px;
        height: 45px;
    }
    html{
        font-size: 62.5%;
    }
    header a{
        font-size: 2rem;
    }
    footer{
        font-size: 2rem;
    }
}