*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #274aa2;
}
header .navbar-brand #main-logo{
    width: 120px;
    height: auto;
}
header nav .nav-item #img-user{
    width: 40px;
    height: 40px;
}
section #btn-color{
    color: #fff;
    background-color: #01276d;
}
#btn-user{
    background-color: #01276d;
}
main,html,body{
    background-color: #f5f5f5;
}
#main #img-user{
    width: 100px;
    height: 100px;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}


.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #c9c9c9;
}

/* #main #img-user-md{
    width: 140px;
    height: 140px;
} */

@media (min-width: 800px) {
    header .navbar-brand #main-logo{
        width: 145px;
        height: 45px;
    }
    html{
        font-size: 62.5%;
    }
    header a{
        font-size: 2rem;
    }
    footer{
        font-size: 2rem;
    }
    main{
        font-size: 2.5rem;
    }

}
@media (min-width: 800px){
    #main #img-user-md{
        width: 170px;
        height: 170px;
    }
}