#main-section #main-card #btn-color{
    background-color: #01276d;
}
header{
    background-color: #F4F4F4;
}
#btn-color{
    transform: scale(1);
    transition: 0.3s transform;
}
#btn-color:hover{
    transform: scale(1.1);
    color: #fff;
}
img{
    object-fit: cover;
    object-position: center;
}

input:focus, select:focus, select, a.btn:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

header span #logo-remaster{
    width: 170px;
    height: auto;
}

#logo{
    font-family: 'Yatra One', cursive;
}
#logo-lg{
    font-family: 'Yatra One', cursive;
    font-size: 3rem;
}
#footer{
    background-color: #01276d;
    color: #fff;
}
#footer a{
    text-decoration: none;
    color: #fff;
}